asttokens==2.4.1
boolean.py==4.0
clingo==5.7.1
cloudpickle==3.0.0
contourpy==1.1.1
dash-bootstrap-components==1.2.1
dash-daq==0.5.0
dash-uploader==0.6.0
declare4py==2.2.0
decorator==5.1.1
deprecation==2.1.0
exceptiongroup==1.2.2
executing==2.1.0
graphviz==0.20.3
importlib_resources==6.4.5
intervaltree==3.1.0
jedi==0.19.1
joblib==1.4.2
lark==1.2.2
lark-parser==0.12.0
llvmlite==0.43.0
logaut==0.2.0
ltlf2dfa==1.0.2
lxml==5.3.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mkl-service==2.4.0
mlxtend==0.23.1
mpmath==1.3.0
networkx==3.1
nltk==3.9.1
numba==0.60.0
parso==0.8.4
ply==3.11
pm4py==2.7.10.3
prompt_toolkit==3.0.48
pure_eval==0.2.3
pydotplus==2.0.2
Pygments==2.18.0
pylogics==0.2.1
PyQt5==5.15.10
pythomata==0.3.2
regex==2024.9.11
ruptures==1.1.9
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.11.0
shap==0.46.0
slicer==0.0.8
sortedcontainers==2.4.0
stack-data==0.6.3
StringDist==1.0.9
sympy==1.13.3
threadpoolctl==3.5.0
tqdm==4.66.5
traitlets==5.14.3
ttictoc==0.5.6
typing_extensions==4.12.2
wcwidth==0.2.13
